# Build directories
Debug/
Release/
packages/
.vs/
/GW Launcher/obj
*exe
*.dll
*.rar

# Rider project files
/.idea/

# Bloated Windows Databases
*.sdf
*.opensdf
*.suo



# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Precompiled Headers
*.gch
*.pch
*.idb
*.pdb
*.ipdb
*.iobj
*.opendb
*.json
*.vcxproj.user
*.VC.db
