# Build directories
Debug/
Release/
Publish/
packages/
.vs/
/GW Launcher/obj
*exe
*.dll
*.rar

# user files
*.user

# Rider project files
/.idea/

# Bloated Windows Databases
*.sdf
*.opensdf
*.suo

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.idb
*.pdb
*.ipdb
*.iobj
*.opendb
*.json
*.vcxproj.user
*.VC.db
.aider*
